body{
    background-image:url('../images/bg.png');
    width:100%;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    color:#343434;
    line-height: 18px;
    font-size:14px;
    background-color:#ededef;
    margin:0;
    padding:0;
}
a
{
    color:#6692CF;
    text-decoration: none;
}
.header
{
    top:0;
    left:50%;
    margin-left:-450px;
    line-height:60px;
    font-size:45px;
    text-align:center;
    text-shadow:0px 1px 0px #efefef;
}
.basicBox
{
    width:850px;
    padding:25px;
    height:30px;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin-left:-450px;
}
.bigBox
{
    width:850px;
    padding:25px;
    height:400px;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin-left:-450px;
}
.support
{
    width:850px;
    height:16px;
    padding-top:4px;
    border-top:1px solid #999;
    text-align: center;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin-left:-450px;
    line-height:16px;
}
select
{
    width:150px;
    height:30px;
    padding:5px;
    border:1px solid #999;
    display: block;
    float:left;
    font-size:16px;
    line-height: 30px;
    margin-right:30px;
    box-shadow:inset 0px 2px 2px rgba(68,68,68,0.25);
}
.loader
{
    width:30px;
    height:30px;
    margin-left:30px;
    display: none;
    float:left;
    background-image:url('../images/loader_30x30.gif');
    background-position: center center;
    background-repeat: no-repeat;
}
.button
{
    width:150px;
    height:20px;
    padding:5px;
    border:1px solid #999;
    display: block;
    float:left;
    font-size:16px;
    line-height: 20px;
    background: #232323; /* Old browsers */
    color:#efefef;
    cursor:pointer;
    text-align:center;
}
.button:active
{
    box-shadow: 0px 2px 2px rgba(68,68,68,0.25);
}
#inputImage
{
    width:400px;
    height:400px;
    display:block;
    float:left;
    margin-right:50px;
}
#outputImage
{
    width:400px;
    height:400px;
    display:block;
    float:right;
}
